.body {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Full viewport height */
  //   margin: 0; /* Remove default margin */
  background-color: #f6f7f7;
}

.main {
  //   border: solid 5px black;
  height: 100vh;
  width: 1000px;
  display: flex;
  background-color: #f6f7f7;

  .mainLeft {
    // border: solid 2px red;
    height: 60%;
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: auto;

    .mainCopy {
      height: 200px;
      //   border: solid 2px black;
      font-size: 58px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .cta {
      display: flex;
      //   border: solid 2px blue;
      .storeBtn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // border: solid 2px blue;

        .googleBtn {
          display: flex; /* Use Flexbox */
          justify-content: center; /* Center horizontally */
          align-items: center;
          //   border: solid 1px black;
          width: 255px;
          height: 72px;
          margin-bottom: 20px;
          border-radius: 40px;
        }
      }
      .qr {
        width: 160px;
        height: 160px;
        margin-left: 30px;
        border-radius: 20px;
        border: solid 8px white;
      }
    }
  }
  .instaId {
    // border: solid 2px blue;
    height: 200px;
    margin-top: 40px;
  }

  .mainRight {
    // border: solid 2px red;
    height: 65%;
    width: 50%;
    margin-top: 100px;
    // margin-right: 50px;
    display: flex;
    justify-content: center;
    .iphone {
      //   border: solid 2px red;
    }
  }
}
